<div class="flex border-b border-grey-lighter fixed pin-t pin-x z-100 h-16 items-center bg-black text-white">
  <div class="w-full container max-w-md flex items-center m-auto">
    <div class="p-4 flex justify-center items-center" id="back">

    </div>
    <div class="flex-1">
      {{#link-to "admin.clips" class="block lg:mr-4 no-underline text-xl text-center font-headline text-white"}}
        Admin Portal
      {{/link-to}}
    </div>
    <div class="p-4 justify-center items-center">

    </div>
  </div>
</div>

{{outlet}}
