<div class="flex bg-white border-b border-grey-lighter fixed pin-t pin-x z-100 h-16 items-center">
  <div class="w-full max-w-screen-xl relative mx-auto px-6">
    <div class="flex items-center -mx-6">


      <div class="lg:w-1/4 xl:w-1/5 pl-6 pr-6 lg:pr-8">
        <div class="flex items-center">
          {{#link-to "admin" class="block lg:mr-4 no-underline text-grey-dark text-lg"}}
            Admin Portal
          {{/link-to}}
        </div>
      </div>

      <div class="flex flex-grow items-center lg:w-3/4 xl:w-4/5">

      </div>

    </div>
  </div>
</div>

{{outlet}}
