<div class="flex border-b border-grey fixed pin-t pin-x z-100 h-16 items-center bg-white text-blue-dark shadow">
  <div class="w-full container max-w-md flex items-center m-auto">
    <div class="p-4 flex justify-center items-center" id="back">

    </div>
    <div class="flex-1">
      {{#link-to "app" class="block lg:mr-4 no-underline text-2xl text-center font-headline text-blue-dark"}}
        Broadcaster
      {{/link-to}}
    </div>
    <div class="p-4 justify-center items-center">

    </div>
  </div>
</div>

<div class="container w-full m-auto pt-16 px-2 flex flex-col items-center">
  {{!-- <ul class="list-reset w-full text-lg border border-grey-light rounded my-4">
    <li class="border-b border-grey-light p-2">One</li>
    <li class="border-b border-grey-light p-2">Two</li>
    <li class="border-b border-grey-light p-2">Three</li>
  </ul> --}}

  <div class="w-full h-2"></div>

  {{#each sorted as |item|}}
    {{sport-clip class="my-2" data=item}}
  {{/each}}
</div>
